body {
	background-color: green;
	color: white;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	font-size: 13px;
	position: absolute; 
	bottom: 0; 
	width: 99.2%; 
	text-align: right;
}

a{
	color: yellow;
}

p {
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
}


ul {list-style-type: none;}
body {font-family: Verdana}


/* where my schedule starts*/

table, th, td{
	color: white;
	border: 1px solid white;
	font-size:14px;
	width:50px;
}

iframe{
	width:550px;
	height:500px;
	border: solid 2px #777; 
}

